<nav class="navbar bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a id="nav-brand" class="navbar-brand" href="/">THE QUR'AN</a>
    <button class="navbar-toggler" type="button" 
    data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">           
        <ol class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/find"><i class="fa fa-search"> Search</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/donate"><i class="fa fa-dollar"> Donate</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fatihah">Al-Fatihah</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/baqarah">Al-Baqarah</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/imran">Ali-Imran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nisa">An-Nisa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/maidah">Al-Ma'idah</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/anam">Al-An'am</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/araf">Al-A'raf</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/anfal">Al-Anfal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tawbah">At-Tawbah</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/yunus">Yunus</a>
                    </li>
        </ol>
    </div>
</nav>