<nav class="navbar bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Qur'oni Karim</a>
    <button class="navbar-toggler" type="button" 
    data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ol class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/about">About Qur'on</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fotiha">Fotiha surasi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/baqara">Baqara surasi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/imran">Imran surasi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/niso">Niso surasi</a>
            </li>
        </ol>
    </div>
</nav>