<nav class="navbar bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a id="nav-brand" class="navbar-brand" href="/">The Qur'an</a>
    <button class="navbar-toggler" type="button" 
    data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-th-list"></i>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">           
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <a class="nav-link" href="/about">
                        <i class="fa fa-book"> About</i>
                    </a>
                </div>
                <div class="col-sm">
                    <a class="nav-link" href="/find">
                        <i class="fa fa-search"> Search</i>
                    </a>
                </div>
                <div class="col-sm">
                    <a class="nav-link" href="/donate">
                        <i class="fa fa-dollar"> Donate</i>
                    </a>
                </div>
            </div>
            <hr id="nav-hr">
            <div class="row">
                <div class="col-sm-3">
                    <a class="nav-link" href="/fatihah">Al-Fatihah</a>
                    <a class="nav-link" href="/baqarah">Al-Baqarah</a>
                    <a class="nav-link" href="/imran">Ali-Imran</a>
                    <a class="nav-link" href="/nisa">An-Nisa</a>
                    <a class="nav-link" href="/maidah">Al-Ma'idah</a>
                    <a class="nav-link" href="/anam">Al-An'am</a>
                    <a class="nav-link" href="/araf">Al-A'raf</a>
                    <a class="nav-link" href="/anfal">Al-Anfal</a>
                </div>
                <div class="col-sm-3">
                    <a class="nav-link" href="/tawbah">At-Tawbah</a>
                    <a class="nav-link" href="/yunus">Yunus</a>
                    <a class="nav-link" href="/hud">Hud</a>
                </div>
                <div class="col-sm-3">
                    
                </div>
            </div>
        </div>
    </div>
</nav>