<div class="container page">
    <h1>About Qur'an</h1>
    <blockquote>
         The Quran is a Divine Miracle of Literature [Prophesy - Science - Warnings - Wisdom - Truths]...and it has been Preserved
        100% In the Original Language - for over 1,400 years! Humanity has received Divine Guidance only through two channels: The
        Word of Almighty God ("Allah") in [scriptures, Torah, Psalms, Injil & Quran, etc.] The Prophets inspired by the Allah to
        communicate His Will to mankind. These two things have always been going together, hand in hand. More important though, there
        were at that time, tens of thousands of his companions ("sahabi" in Arabic) who memorized the complete Quran from the instruction
        of the prophet Muhammad (peace be upon him). Even the prophet himself (peace be upon him) used to recite it with angel Gabriel
        once a year and in the last year of his life he recited it two times just before the month in which he died. Next, the leader
        who came after the prophet Muhammad (peace be upon him) (Abu Bakr) entrusted the collection of the Quran to be written in
        one volume by one of the Prophet's scribe, Zaid Ibn Thabit. He kept it till his death. Then the next leader, Umar and after
        him to his daughter, Hafsa who had been one of the wives of Prophet Muhammad (peace be upon him). Then from the original
        text which now resides in Topkope Museum, in Istanbul, Turkey, the next leader, Uthman prepared several other exact duplications
        and sent them to various Muslim territories such as; Uzbekistan and Turkey and other places. These scriptures are still in
        museums there and one has found its way to a museum in England as well. All of them are exactly the same. Today many of the
        Muslims from these areas are still memorizing the Quran. The Quran was so meticulously preserved because it is the Book of
        Guidance for all of humanity for all times. That is why it does not address just the Arabs, in whose language it was revealed.
        In fact Arabs today do not comprise more than 13% of the Today of Muslims in the world today. The Quran speaks to "mankind"
        Quran speaks to all of mankind on a general basis without regard to race, tribe, color, social position, financial condition
        or genealogy.
    </blockquote>
    <blockquote>
         Allah the Almighty says: "O Mankind! What has seduced you from your Lord so Generous?" [Noble Quran 82:6] The Practical
        Teachings of the Quran Teachings of Quran are established by the example of Muhammad (peace be upon him) and the good Muslims
        throughout the ages have endeavored to emulate his teachings both in thought and conduct. The distinctive approach of the
        Quran is that its instructions are aimed at the general welfare of the mankind and are based on the possibilities within
        his reach. The Quran is Wisdom Conclusive. It neither condemns nor tortures the flesh nor does it neglect the soul. It does
        not humanize God, nor does it deify man. Everything is carefully placed where it belongs in the total scheme of creation.
        Yet it obviously is not written in human style (chronological order). Those who would claim that the prophet Muhammad (peace
        be upon him) was the author of the Quran are claiming something that is humanly impossible. How could any person of the 7th
        century utter such scientific truths as those found in the Quran? Could he describe the evolution of the embryo inside the
        uterus so accurately as we find it now recorded in modern science? [See: Dr. Keith Moore's book - on embryology] Secondly,
        is it logical to believe that Muhammad (peace be upon him) who up to the age of forty was marked only for his honesty and
        integrity, began all of a sudden the authorship of a book matchless in literary merit and the equivalent of which the whole
        legion of the Arab poets and orators of the highest caliber could not produce? And lastly, is it justified to say that Muhammad
        (peace be upon him) who was known as "Al-Ameen" (trustworthy) in his society and who is still admired by the non-Muslim scholars
        for his honesty, would lie about receiving the Quran (which forbids lying) from the Angel Gabriel and then still be able
        to establish the best human society on the face of the earth, based on truth? Surely, any sincere and unbiased searcher of
        truth must come to the conclusion that the Quran is the revealed Book of Almighty Allah. Readers can easily see how the modern
        world is coming closer to reality regarding the truth of the Quran. We appeal to all open minded scholars to study the Quran
        in the light of the aforementioned points. We invite all to challenge the validity and accuracy of the sciences known to
        man today and keep in mind that this is the EXACT TEXT used by the Prophet Muhammad (peace be upon him) over one thousand
        four hundred years ago. We are sure that any such attempt will convince the reader that the Quran could never have been written
        by any human being ever.
    </blockquote>
    <b><a href="https://en.wikipedia.org/wiki/Yusuf_Estes">By Yusuf Estes</a></b>
    <p></p>
    <small>Developed and Designed by Eldor Togaymurotov &copy 2018 all rights reserved.</small>
</div>