<div class="container error">
            <h2 style="color:red">Please check spelling error and try again!</h2>
            <h1><a href="/find"><button class="btn btn-danger">OK</button></a></h1>
</div>