<div class="container">
    <h2>Baqara Surasi</h2>
    <p>
         Bu sura Madinada nozil qilingan bo‘lib, ikki yuz sakson olti oyatdan iborat. U Qur’ondagi eng uzun suradir. Bu surada e’tiqod,
        ibodat, muomala, axloq, nikoh, taloq, idda va boshqa shariat hukmlari borasida so‘z ketadi. Bu suraning avvalida mo‘minlar,
        kofirlar, munofiqlar va iymonning haqiqati, kufr va nifoqning mohiyati bayon qilinadi. So‘ngra bashariyat otasi Odam alayhissalom
        qissasi zikr qilinib, u zot yaratilgan vaqtda bo‘lib o‘tgan ibratli voqea-hodisalardan xabar beriladi. «Baqara» oyatlarining
        qariyb uchdan bir qismini «ahli kitoblar» (Tavrot va Injilga iymon keltirganlar), xususan yahudiylar haqidagi ma’lumotlar
        tashkil qiladi. Keyin sudxo‘rlik jinoyati to‘g‘risida ma’lumot berilib, Alloh va payg‘ambar bu jinoyatga qarshi urush e’lon
        qilganliklari uqtiriladi. Suraning xotimasida esa mo‘minlarni Alloh taologa tavba-tazarru qilishga va uning O’zidangina madad
        tilashga chaqiriladi. Bu sura nima uchun «Baqara» – «Sigir» surasi deb atalgan? Qadimda Bani Isroil qavmidan bo‘lgan bir
        kishi o‘ldiriladi. Ammo uning qotilini topa olmaydilar. Shunda Alloh taolo Muso alayhissalomga: «Qavmingga aytgin, bir sigir
        so‘yib, uning bir bo‘lagi bilan o‘likni ursinlar», deb buyuradi. Allohning buyrug‘ini bajo qilganlarida, haligi o‘likka jon
        kirib, qotili kimligini aytadi. Mehribon va rahmli Alloh nomi bilan (boshlayman).
    </p>
</div>