<div id="donatepage" class="container-fluid">
    <h2>Donate us</h2>
   <div class="row">
    <div class="col-sm-5">
        <p>Please help us to reach out the people around the globe and
             spread the word and deliver a message of Islam.</p>
        <p>We are displaying The Qur'an on the web, 
            so people can read it and understand the purpose of life.</p>
        <p>Click button below to donate us!</p>

    </div>
    <div class="col-sm-5" id="donatebtn">
        <h3><i id="amount" class="fa fa-dollar"></i></h3>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="VU46BXAADCFDA">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" 
            border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
             width="1" height="1">
        </form>
    </div>
   </div>
</div>


{{!-- https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VYDELBND3FD72 --}}