<div class="container">
    <h2>Al-Fatihah</h2>
    <p><b>1.</b>In the name of Allah, the Entirely Merciful, the Especially Merciful.</p>
    <p><b>2.</b> [All] praise is [due] to Allah, Lord of the worlds..</p>
    <p><b>3.</b>The Entirely Merciful, the Especially Merciful,</p>
    <p><b>4.</b> Sovereign of the Day of Recompense</p>
    <p><b>5.</b>It is You we worship and You we ask for help.</p>
    <p><b>6.</b>Guide us to the straight path –</p>
    <p><b>7.</b>The path of those upon whom You have bestowed favor, not of those who have evoked [Your] anger or of those who are astray.</p>
</div>