<div id="homepage" class="container">
    <h1>The Holly Quran</h1>
    <h5>Translated into English</h5>
    <img src="/images/koran.png" id="koranjpg" class="img-responsive">
    <br>
    <small id="footer">Developed and Designed by Eldor Togaymurotov &copy 2018 all rights reserved.</small>
</div>