<div class="container">
    <h2>Imran Surasi</h2>
    <p>
         Madinada nozil bo‘lgan bu sura ikki yuz oyatdan iborat bo‘lib, Qur’ondagi uzun suralardandir. Unda Madina shahridagi musulmon
        jamoatning hijratning ikkinchi yilida bo‘lib o‘tgan Badr jangi bilan uchinchi yilidagi Uxud jangi mobaynidagi va undan keyingi
        davrdagi hayotidan jonli lavhalar tasvirlanadi hamda bu voqealarga munosabat bildirilib, hukmlar bayon qilinadi. «Oli Imron»da
        dinning asoslaridan bo‘lgan ikki narsa batafsil yoritiladi: birinchisi — aqida va Allohning birligiga aloqador dalilu hujjatlar;
        ikkinchisi — shariat qonunlari va xususan, Alloh yo‘lidagi kurash — jihodga taalluqli amru farmonlar. Agar «Baqara» surasida
        ahli kitoblarning yahudiy qavmi va ularning kirdikorlari haqida so‘z ketgan bo‘lsa, “Oli Imron”da ahli kitoblardan bo‘lgan
        nasroniylar to‘g‘risida so‘z boradi va ularning Iyso alayhis-salomni xudo deb e’tiqod qilishlari xato ekanligi ochiqravshan
        dalillar orqali batafsil yoritiladi.
    </p>
</div>