<div class="container page">
    <h2>Niso Surasi</h2>
    <p>Bu sura ham Madinada nozil bo‘lgan uzun suralardan bo‘lib, bir yuz yetmish olti oyatdan tashkil topgan. U musulmonlarning
    ichki va tashqi ish faoliyatlariga doir shariat ahkomlari bilan to‘la bir suradir. Unda ayol, uy, oila, davlat, jamiyatga
    aloqador bo‘lgan muhim masalalarga javob beriladi hamda birovlarning qaramog‘idagi yetim-esirlar va ularning haq-huquqlari
    to‘g‘risida so‘z boradi. Bu surada shuningdek, meros hukmlari ham batafsil bayon qilindi. Bulardan tashqari, er-xotin o‘rtasidagi
    aloqalar — ularning bir-birlari oldidagi huquq va burchlari hamda er oilada boshliq ekani va bu huquqdan u qanday foydalanishi
    lozimligi haqida yo‘l-yo‘riqlar beriladi. So‘ngra oila doirasidan jamiyat miqyosiga chiqib, jamiyat mustahkam bo‘lishi uchun
    kishilar o‘rtasida birdamlik va mehr-shafqat, xolislik va bag‘rikenglik barqaror bo‘lishi zarurligi o‘ziga xos uslubda uqtiriladi.
    Bu surada boshqalardagiga nisbatan ayollarga oid shariat hukmlari ko‘p va batafsil bayon etilganligi sababli unga «Niso»
    nomi berilgan. Mehribon va rahmli Alloh nomi bilan (boshlayman).</p>
</div>