<div class="container-fluid">
    <h2 id="video-header">Videos <i class="fa fa-play-circle"></i></h2>
    <div class="row">
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/MIELrM4-qCw">
            </iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/7xKm91vNTSc">
            </iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/Pl1EIydlTYo">
            </iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/XEcocSZnk1g">
            </iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/6LClX8BR63A">
            </iframe>
        </div>
        <div class="col-sm-4">
            <iframe src="https://www.youtube.com/embed/YIztkzMYd2g">
            </iframe>
        </div>
    </div>
</div>