#body {
    padding: 60px 5px 60px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    background-color: black;
}
.navbar{
    font-family: 'Times New Roman', Times, serif;
}

.container-fluid{
    width: 100%;
}
.col-sm-3{
    font-size: 12px;
    width: 33%;
    padding-right: 0%;
    padding-left: 0%;
    margin-right: 0%;
    margin-left: 0%;
}
.col-sm{
    width: 33%;
    padding-right: 0%;
    padding-left: 0%;
    margin-right: 0%;
    margin-left: 0%;
}
#nav-hr{
    background-color: antiquewhite;
}
#chapters {
    color: brown;
    text-align: center;
}
.page {
    background-color: bisque;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1, h2 {
    text-align: center;
}

#about {
    font: italic;
}
#fatihah {
    padding-bottom: 70px;
    margin-bottom: 50px;
}
#search {
    height: 500px;
}
#donatepage{
    color: bisque;
    height: auto;
    text-align: center;
}
#donatebtn{
    padding-left: 80px;
    padding-top: 10px;
}

.col-sm-5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.row {
    width: 100%;
}
.col-md-4 {
    width: 100%;
}
#koranjpg {
    width: 100%;
}
#homepage {
    height: 600px;
    color: antiquewhite;
    text-align: center;
}
#nav-brand {
    color: antiquewhite;
}
.nav-link {
    color: antiquewhite;
}
.error {
    height: 500px;
    
}
#footer {
    color: deepskyblue;
}