#body {
    margin-top: 60px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: bisque;
}
h1, h2 {
    text-align: center;
}
.nav-item {
    text-align: center;
}
#fatihah {
    height: 600px;
}
#search {
    height: 500px;
}