#body {
    padding: 60px 5px 60px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: black;
}
.page {
    background-color: bisque;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1, h2 {
    text-align: center;
}
.nav-item {
    text-align: center;
}
#about {
    font: italic;
}
#fatihah {
    height: 600px;
}
#search {
    height: 500px;
}
.row {
    width: 100%;
}
.col-md-4 {
    width: 100%;
}
#koranjpg {
    width: 100%;
}
#homepage {
    height: 600px;
    color: antiquewhite;
    text-align: center;
}
#nav-brand {
    color: antiquewhite;
}
.nav-link {
    color: antiquewhite;
}
.error {
    height: 500px;
    
}
